{{ page_builder }}
    {{ if type == "block_page_header" }}
       {{ if block_type == "hero" }}
<div class="relative w-full h-[720px] overflow-hidden">
    <img
        src="{{image}}"
        alt=""
        class="absolute top-0 left-1/2 -translate-x-1/2 transform scale-[1.2] -translate-y-[30px] object-cover w-full h-full"
    />
    <div class="absolute inset-0 bg-black/20"></div>
    <h1 class="relative z-10 text-white text-center text-[54px] leading-[64px] font-bold uppercase max-w-2xl mx-auto flex items-center justify-center h-full px-4">
        {{title}}
    </h1>
</div>



{{/if}}

    {{ elseif type == "block_block_page_header" }}

    {{ elseif type == "page_header" }}
        page header

    {{ /if }}

{{ /page_builder }}
