{{ page_builder }}
    {{ if type == "block_text_image" }}
            {{ partial:partials/block_text_image }}
    {{ elseif type == "block_text_block_padded" }}

        <div class="max-w-[830px] mx-auto px-4 pt-[64px]">
            <div class="flex gap-4 justify-end mb-[64px]">
                {{top_illustrations}}
                <img src="{{ url }}" alt="{{ alt }}" class="w-24 h-auto" />
                {{/top_illustrations}}
            </div>

            <div class="mb-[64px]">
                <h2 class="text-center text-3xl md:text-4xl leading-3xl md:leading-4xl mb-[32px] font-bold uppercase">{{title}}</h2>

                <div class="mb-[32px]
                    {{ if text_size == 1 }}text-base md:text-[20px] leading-[28px]{{ /if }}
                    {{ if text_size == 2 }}text-base leading-[24px]{{ /if }}
                    {{ if text_size == 3 }}text-sm leading-[20px] text-[#6C6A5C]{{ /if }}
                ">
                    {{ text }}
                </div>

                {{buttons}}
                    {{ partial:components/button-secondary title="{ button:text }" link="{ button:link }" }}
                {{/buttons}}
            </div>

            <div class="flex gap-4 items-center">
                {{ bottom_illustrations }}
                <div class="h-18 overflow-hidden">
                    <img src="{{ url }}" alt="{{ alt }}" class="h-full w-auto object-cover" />
                </div>
                {{ /bottom_illustrations }}
            </div>
        </div>

    {{ elseif type == "block_image" }}
        <div class="w-full max-h-[617px] overflow-hidden">
            <img src="{{image}}" alt="" class="w-full h-full object-cover">
        </div>
    {{ elseif type == "block_page_header" }}
       {{ if block_type == "hero" }}
            {{ partial:partials/block_page_header_hero }}
        {{ elseif block_type == "text" }}
            {{ partial:partials/block_page_header_text }}
        {{ elseif block_type == "text_image" }}
            {{ partial:partials/block_page_header_text_image }}
        {{/if}}
    {{ /if }}
{{ /page_builder }}
