@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:wght@300;400&family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
    --text-5xl: 56px;
    --text-5xl-sm: 156px;
    --text-4xl: 48px;
    --text-3xl: 40px;
    --leading-5xl: 64px;
    --leading-4xl: 56px;
    --leading-3xl: 48px;
}

@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";


@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('./fonts/SweetSansPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('./fonts/SweetSansPro-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('./fonts/SweetSansPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sweet Sans Pro';
    src: url('./fonts/SweetSansPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Add more as needed */


body {
    font-family: 'Sweet Sans Pro', serif;
}
